<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Avalonia_Project_Creator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Avalonia_Project_Creator.Properties.Settings>
            <setting name="ProjectName" serializeAs="String">
                <value>NewAvaloniaProject</value>
            </setting>
            <setting name="ProjectPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ProjectType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ProjectOpen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProjectFolderOpen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AppClose" serializeAs="String">
                <value>False</value>
            </setting>
        </Avalonia_Project_Creator.Properties.Settings>
    </userSettings>
</configuration>